<!DOCTYPE html>
<html>
<head>
    <title>Analytics - MBudget</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/css/theme.css">
    <script type="text/javascript" src="/js/analytics.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
</head>
<body>

<h3>Daily expenses</h3>

<div id="daily_expenses_plot"></div>

</body>
</html> 